@using KhaneBan.Domain.Core.Entites.DTOs

@model UserLoginDTO

<!DOCTYPE html>
<html lang="en">


<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<meta name="keywords"
	content="classicads, classified, ads, classified ads, listing, business, directory, jobs, marketing, portal, advertising, local, posting, ad listing, ad posting,">
	<title>خانه بان - فرم کاربر</title>
	<link rel="stylesheet" href="~/UsersTemplate/css/custom/user-form.css">
	
</head>

<body>

	<header class="header-part">
		<div class="container">
			<div class="header-content">
				<div class="header-left">
					<ul class="header-widget">
						<li><button type="button" class="header-menu"><i class="fas fa-align-left"></i></button></li>
						<li><a asp-area="Users" asp-controller="Home" asp-action="Index" class="header-logo"><img src="~/UsersTemplate/images/logo.png" alt="logo"></a></li>
						<li>
							<a href="user-form.html" class="header-user">
								<i class="fas fa-user"></i><span>ورود</span>
							</a>
						</li>
						<li><button type="button" class="header-src"><i class="fas fa-search"></i></button></li>
					</ul>
				</div>


			</div>
		</div>
	</header>
	<div class="sidebar-part">
		<div class="sidebar-body">
			<div class="sidebar-header">
				<a asp-area="Users" asp-controller="Home" asp-action="Index" class="sidebar-logo">
					<img src="~/UsersTemplate/images/logo.png"
						 alt="logo">
				</a><button class="sidebar-cross"><i class="fas fa-times"></i></button>
			</div>
			<div class="sidebar-content">
				<div class="sidebar-profile">
					<a href="#" class="sidebar-avatar">
						<img src="~/UsersTemplate/images/avatar/01.jpg"
							 alt="avatar">
					</a>
					<h4><a href="#" class="sidebar-name">جکسون هندرسون</a></h4><a href="ad-post.html"
																   class="btn btn-inline sidebar-btn">
						<i class="fas fa-plus-circle"></i><span>
							تبلیغ خود را ارسال
							کنید
						</span>
					</a>
				</div>
				<div class="sidebar-menu">
					<ul class="nav nav-tabs">
						<li><a href="#main-menu" class="nav-link active" data-toggle="tab">منوی اصلی </a></li>

					</ul>
					<div class="tab-pane active" id="main-menu">
						<ul class="navbar-list">

							<li class="navbar-item navbar-dropdown">
								<a class="navbar-link" href="#">
									<span>
										دسته
										بندی
									</span><i class="fas fa-plus"></i>
								</a>
								<ul class="dropdown-list">
									<li><a class="dropdown-link" href="category-list.html">تمیزکاری</a></li>
									<li><a class="dropdown-link" href="category-list.html">ساختمان</a></li>
									<li><a class="dropdown-link" href="category-list.html">تعمیرات اشیا</a></li>
									<li><a class="dropdown-link" href="category-list.html">اسباب کشی و حمل بار</a></li>
									<li><a class="dropdown-link" href="category-list.html">خودرو</a></li>
									<li><a class="dropdown-link" href="category-list.html">سلامت و زیبایی</a></li>
									<li><a class="dropdown-link" href="category-list.html">سازمان ها و مجتمع ها</a></li>
									<li><a class="dropdown-link" href="category-list.html">سایر</a></li>

								</ul>
							</li>


							<li class="navbar-item navbar-dropdown">
								<a class="navbar-link" href="#">
									<span>صفحات</span><i class="fas fa-plus"></i>
								</a>
								<ul class="dropdown-list">
									<li><a asp-controller="Home" asp-action="Index" class="dropdown-link">صفحه اصلی</a></li>
									<li><a asp-controller="Profile" asp-action="Index" class="dropdown-link">پروفایل</a></li>
									<li><a asp-controller="Account" asp-action="Login" class="dropdown-link">ورود</a></li>
									<li><a class="dropdown-link" href="cities.html">آگهی توسط شهرها</a></li>
									@* 									<li><a class="dropdown-link" href="price.html">قیمت گذاری</a></li>
									<li><a class="dropdown-link" href="user-form.html">فرم کاربر</a></li> *@
									<li><a asp-controller="َAccount" asp-action="Logout" class="dropdown-link">خروج</a></li>
								</ul>
							</li>
							<li class="navbar-item navbar-dropdown">
								<a class="navbar-link" href="#">
									<span>
										وبلاگ
									</span><i class="fas fa-plus"></i>
								</a>
								<ul class="dropdown-list">
									<li><a class="dropdown-link" href="blog-list.html">وبلاگ لیستی </a></li>
									<li><a class="dropdown-link" href="blog-details.html">جزئیات وبلاگ</a></li>
								</ul>
							</li>
							<li class="navbar-item"><a class="navbar-link" href="contact.html">تماس با ما</a></li>
						</ul>
					</div>

				</div>
				<div class="sidebar-footer">
					<p>کلیه حقوق محفوظ است توسط <a href="#"> کلاسیک ادز </a></p>
					<p>طراحی توسط <a href="https://www.rtl-theme.com/author/tn_plugin">جعفر عباسی خان </a></p>
				</div>
			</div>
		</div>
	</div>


	<section class="user-form-part">
		<div class="user-form-banner">
			<div class="user-form-content">
				<a href="#"><img src="~/UsersTemplate/images/logo.png" alt="logo"></a>
				<h1>تعمیرات خود را به ما بسپارید <span>آنچه را که نیاز دارید ثبت کنید.</span></h1>
				<p>بزرگترین سایت درخواست خدمات منزل.</p>
			</div>
		</div>
		<div class="user-form-category">
			<div class="user-form-header">
				<a asp-controller="Account" asp-action="Login"><img src="~/UsersTemplate/images/logo.png" alt="logo"></a><a href="index.html">
					<i class="fas fa-arrow-left"></i>
				</a>
			</div>
			<div class="user-form-category-btn">
				<ul class="nav nav-tabs">
					<li><a href="#login-tab" class="nav-link active" data-toggle="tab">ورود</a></li>
					<li><a href="#register-tab" class="nav-link" data-toggle="tab">ثبت نام</a></li>
				</ul>
			</div>
			<div class="tab-pane active" id="login-tab">
				<div class="user-form-title">
					<h2>خوش آمدید!</h2>
					<p>برای دسترسی به حساب خود از اعتبارنامه استفاده کنید.</p>
				</div>
				<form asp-area="Users" asp-controller="Account" method="post" asp-action="Login">
					<div class="row">
						<div class="col-12">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="ایمیل" asp-for="Email">
								<small class="form-alert">لطفاً این مثال را دنبال کنید - 01example@@gmail.com</small>
							</div>
							<span class="bg-color-danger alert" asp-validation-for="Email"></span>
						</div>
						<div class="col-12">
							<div class="form-group">
								<input type="password" class="form-control" id="pass" placeholder="رمز عبور" asp-for="Password">
								<button type="button" class="form-icon">
									<i class="eye fas fa-eye"></i>
								</button><small class="form-alert">
									رمز ورود باید 6
									حرف باشد
								</small>
							</div>
							<span class="bg-color-danger alert" asp-validation-for="Password"></span>
						</div>
						<div class="col-6">
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input asp-for="IsPresistent" type="checkbox"
									value="true"
									class="custom-control-input" id="signin-check"><label class="custom-control-label" for="signin-check">مرا به خاطر بسپار</label>
								</div>
							</div>
						</div>

						<div class="col-12">
							<div class="form-group">
								<label for="role">نقش خود را انتخاب کنید:</label>
								<select asp-for="Role" class="form-control" id="role">
									<option value="">انتخاب کنید...</option>
									<option value="Customer">مشتری</option>
									<option value="Expert">کارشناس</option>
									<option value="Admin">مدیر</option>
								</select>
							</div>
							<span class=" bg-color-danger alert" asp-validation-for="Role"></span>
						</div>

						<div class="col-6">
							<div class="form-group text-right">
								<a href="#" class="form-forgot">فراموشی رمز عبور؟</a>
							</div>
						</div>
						<div class="col-12">
							<div class="form-group">
								<button type="submit" class="btn btn-inline">
									<i class="fas fa-unlock"></i><span>حساب خود را وارد کنید</span>
								</button>
							</div>
						</div>
					</div>
				</form>
				<div class=" col-12">
					@if (ViewBag.LoginMessage is not null)
					{
						<span class=" bg-color-danger alert">@ViewBag.LoginMessage</span>
					}
				</div>
				<div class="user-form-direction">
					<p>حساب ندارید؟ کلیک کنید روی <span>( ثبت نام )</span> برای ایجاد حساب.</p>
				</div>
			</div>
			<div class="tab-pane" id="register-tab">
				<div class="user-form-title">
					<h2>ثبت نام </h2>
					<p>در یک دقیقه حساب جدیدی راه اندازی کنید. </p>
				</div>
				
				<form>
					<div class="row">
						<div class="col-12">
							<div class="form-group">
								<input type="text" class="form-control"
									   placeholder="شماره تلفن"><small class="form-alert">
									لطفاً این مثال را دنبال کنید - 01
									XXXXXXXXX
								</small>
							</div>
						</div>
						<div class="col-12">
							<div class="form-group">
								<input type="password" class="form-control"
									   placeholder="رمز عبور"><button class="form-icon">
									<i class="eye fas fa-eye"></i>
								</button><small class="form-alert">
									رمز ورود باید 6
									حرف باشد
								</small>
							</div>
						</div>
						<div class="col-12">
							<div class="form-group">
								<input type="password" class="form-control"
									   placeholder="بازیابی رمز عبور"><button class="form-icon">
									<i class="eye fas fa-eye"></i>
								</button><small class="form-alert">
									رمز ورود باید 6
									حرف باشد
								</small>
							</div>
						</div>
						<div class="col-12">
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input type="checkbox"
										   class="custom-control-input" id="signup-check"><label class="custom-control-label" for="signup-check">
										من با همه موافقم <a href="#">شرایط و ضوابط</a> را میپذریم.
									</label>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="form-group">
								<button type="submit" class="btn btn-inline">
									<i class="fas fa-user-check"></i><span>ایجاد حساب جدید</span>
								</button>
							</div>
						</div>
					</div>
				</form>
				<div class="user-form-direction">
					<p>قبلاً حساب دارید؟ کلیک کنید روی <span>( ورود )</span> برای ورد به حساب.</p>
				</div>
			</div>
		</div>
	</section>

</body>

</html>

@section Scripts
{
	<partial name="_validationScriptsPartial" />
}