@model UpdateCustomerViewModel


<div class="container px-5 my-5">
    <form asp-area="Admin" asp-controller="Customer" method="post" asp-action="UpdateCustomer">

        <input type="hidden" asp-for="Id" />

        <div class="form-floating mb-3">
            <input class="form-control" asp-for="FirstName" />
            <label asp-for="FirstName"></label>
            <span class="text-danger" asp-validation-for="FirstName"></span>
        </div>



        <div class="form-floating mb-3">
            <input class="form-control" asp-for="LastName" />
            <label asp-for="LastName"></label>
            <span class="text-danger" asp-validation-for="LastName"></span>
        </div>


        <div class="form-floating mb-3">
            <input class="form-control" asp-for="Email" />
            <label asp-for="Email"></label>
            <span class="text-danger" asp-validation-for="Email"> </span>
        </div>


        <div class="d-none" id="submitErrorMessage">
            <div class="text-center text-danger mb-3">Error sending message!</div>
        </div>
        <div class="d-grid">
            <button class="btn btn-primary btn-lg " id="submitButton" type="submit">Submit</button>
        </div>
    </form>
</div>

@section Scripts
    {
    <partial name="_validationScriptsPartial" />
}



